// Paleta de colores

$color-uno: #131212;
$color-dos: #CCD8C1;
$color-tres: #afbaa48a;
$color-cuatro: #3d4c2f;
$color-cinco: #0EC20E;

// Fuentes tipográficas

$texto-titulos: 'Playfair Display', serif;
$texto-parrafo: 'Lato', sans-serif;

// Tamaños de fuentes

$size-h1: 3.815rem;
$size-h2: 3.052rem;
$size-h3: 2.441rem;
$size-h4: 1.953rem;
$size-h5: 1.563rem;
$size-h6: 1.25rem;
$size-p: 1rem;
$size-p-small: 0.8rem;